html {
    font-size: $font-size-base;
}

body {
    font-family: $font-family-primary;
    line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: $spacing-md;
    line-height: 1.2;
    color: $color-text-primary;
}

h1 {
    font-size: $font-size-h1;
    @include media-md {
        font-size: $font-size-h1-md;
    }
    @include media-sm {
        // font-size: 2rem;
    }
}

h2 {
    font-size: $font-size-h2;
    @include media-sm {
        font-size: $font-size-h2-sm;
    }
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

p {
    margin-bottom: $spacing-md;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}
