@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "sass:color";

.footer {
    color: $color-text-primary;
    padding: $spacing-md $spacing-xl;
    margin-top: auto;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.links {
    list-style: none;
    display: flex;
    gap: $spacing-lg;
    margin-top: $spacing-sm;
    @media (min-width: 768px) {
        margin-top: 0;
    }
}

.socialNav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
