/* src/components/ui/Modal/Modal.module.scss */

@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); // Темный полупрозрачный фон
    @include flex-center; // Центрируем контент по вертикали и горизонтали
    z-index: 1000; // Убедимся, что модальное окно поверх всего
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.open {
        opacity: 1;
        visibility: visible;
    }
}

.modalContent {
    background-color: $color-white;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-lg; // Используем более выраженную тень
    padding: $spacing-xl;
    position: relative; // Для позиционирования кнопки закрытия
    max-width: 90%; // Ограничиваем ширину
    max-height: 90%; // Ограничиваем высоту
    overflow-y: auto; // Если контент не помещается
    transform: scale(0.95);
    transition: transform 0.3s ease;

    .overlay.open & {
        transform: scale(1);
    }
}

.closeButton {
    position: absolute;
    top: $spacing-sm;
    right: $spacing-sm;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: $color-text-tertiary; // Цвет для иконки закрытия
    cursor: pointer;
    line-height: 1; // Убираем лишний интервал
    padding: $spacing-xs; // Добавляем немного padding для удобства клика
    border-radius: $border-radius-sm;
    transition: color 0.2s ease, background-color 0.2s ease;

    &:hover {
        color: $color-text-primary;
        background-color: $color-light-gray;
    }
}
